{% extends "base.html" %}

{% block contenu %}
        <h1 class="title-animation">Bienvenue sur mon site !! </h1>

        {% for fleur in fleurs  %}
        <p>{{ fleur }}</p>
        {% endfor %}

        <h2>etudiants</h2>
        <ul>
            {% for etudiant in etudiants %}
            <li>{{ etudiant }}</li>
            {% endfor %}
        </ul>

        <h2>todos depuis baserow</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>completed</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                        <td>{{todo['id']}}</td>
                        <td>{{todo['name']}}</td>
                        <td>{{todo['completed']}}</td>
                        <td>
                            <a href="{{ url_for('update', todo_id=todo['id']) }}" class="btn btn-warning me-3">modifier</a>
                            <a href="{{ url_for( 'delete' , todo_id=todo['id'] ) }}" class="btn btn-danger js-delete">supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}