{% extends "base.html" %}

{% from "macros/form_fields.html" import render_field %}
{% from "macros/flash_messages.html" import render_flash %}
{% from "macros/form_field_password.html" import render_password %}

{% block title %}Inscription{% endblock %}

{% block meta %}Créer un profil pour pouvoir gérer le contenu du blog{% endblock %}

{% block contenu %}

<h1 class="text-center mb-4">Formulaire d'inscription</h1>

{{ render_flash() }}

<form method="POST" class="row justify-content-center">
    <div class="col-md-6 col-lg-4">

        {{ form.hidden_tag()  }}

        {{ render_field(form.pseudo   , "Votre pseudo", autofocus=True) }}
        {{ render_field(form.email    , "Votre email") }}
        {{ render_password(form.password , "Votre mot de passe") }}
        {{ render_password(form.confirm_password , "Confirmer votre mot de passe") }}

        <div class="d-grid">
            <input type="submit" class="btn btn-success" value="créer votre profil" role="button">
        </div>
    </div>
</form>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='zxcvbn.js') }}"></script>
<script src="{{ url_for('static', filename='strength.js') }}"></script>
{% endblock %}
